body, html {
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

h1, p {
	margin: 0px;
}

#current-info div {
	float: left;
	margin-right: 45px;
}

#header {
	height: 25%;
}

#map {
	height: 75%;
}

#top-results, #top-three {
	display: none;
	margin-bottom: 0px;
}

#top-three li {
	cursor: pointer;
	text-decoration: underline;
	margin-top: 4px;
}

#top-three li.active {
	font-weight: bold;
}