body, html {
	height: 100%;
	margin: 0px;
}

h1, p {
	margin: 0px;
}

#current-info {
	overflow: hidden;
}

#current-info div {
	float: left;
	margin-right: 45px;
}

#header {
	height: 25%;
	min-height: 150px;
}

#map-container {
	height: 75%;
	position: relative;
}

#map-container > div {
	height: 100%;
	float: left;
}

#map {
	width: 100%;
}

#map.with-info {
	width: 61%;
}

#info {
	display: none;
	/*position: absolute;*/
	width: 39%;
	background-color: #fff;
	right: .3%;/*
	top: 1%;*/
	height: 100%;
	/*border-radius: 2px;*/
	overflow: scroll;
	/*box-shadow: -1px 0px 16px #999;*/
	/*-moz-box-shadow: -1px 0px 16px #999;*/
	/*-webkit-box-shadow: -1px 0px 16px #999;*/
}

#top-results, #top-four {
	display: none;
	margin-bottom: 0px;
}

#top-four li {
	cursor: pointer;
	text-decoration: underline;
	margin-top: 4px;
}

#top-four li.active {
	font-weight: bold;
}